html, body {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1040px;
}

nav.navbar {
    padding: 1em !important;
    margin-bottom: 3rem;
}

nav.navbar a.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navbar a.navbar-brand img {
    height: 15px;
}

nav.navbar button.navbar-toggler {
    padding: .25rem .50rem;
    font-size: 90%;
}

nav.navbar ul.navbar-nav {
    font-size: 14px;
    font-weight: 400;
}

nav.navbar div a.btn{
    font-size: 90%;
    padding: .4em 1.2em;
}

div.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.main img {
    width: 4rem;
    margin-bottom: 2em;
}

div.main p {
    max-width: 640px;
}

div.main a.tg-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.main a.tg-link i {
    font-size: 1.1rem;
    margin-left: .4rem;
}

div.main a.dl-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

div.main a.dl-link i {
    margin-top: .2rem;
    font-size: 2rem;
}

div.main a.dl-link:hover {
    text-decoration: none;

}

section#downloads {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

section#downloads div.pannel {
    width: 100%;
    max-width: 540px;
}

section#downloads div.pannel ul li i {
    font-size: 1rem;
    margin-left: .3rem;
    cursor: pointer;
}