body {
    font-family: 'Roboto', sans-serif;
}

nav.navbar {
    padding: 1em !important;


    border-bottom: 1px solid rgb(234, 234, 234);
}

nav.navbar a.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

nav.navbar a.navbar-brand img {
    width: 30px;
    height: 30px;
}

nav.navbar button.navbar-toggler {
    padding: .25rem .50rem;
    font-size: 90%;
}

nav.navbar ul.navbar-nav {
    font-size: 14px;
    font-weight: 400;
}

nav.navbar div a.btn{
    font-size: 90%;
    padding: .4em 1.2em;
}

section.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section div.pannel {
    width: 100%;
    max-width: 500px;
}

section div.pannel ul li div.dl-info {
    display: flex;
    flex-direction: column;
}